@media (max-width: 1200px){
    .menu_navbar{
        padding: 3px 20px;
        margin: -5px;
    }

    .operations_img-box{
        margin-left: 45px;
    }
    .car{
        margin-left: 45px;
    }
    .woman{
        margin-left: 45px;
    }
}

@media (max-width: 991px){
    .menu_title{
        left: 245px;
    }
    .menu_item{
        padding-left: 23px;
    }
    .menu_navbar{
        padding: -1px 70px;
    }
}
	
@media (max-width: 767px){

}
	
@media (max-width: 575px){

}
	